h3:hover {
    background-image: linear-gradient(to left, #695a00ed , #1b1700ed);
}

h3 {
    color: white;
    font-size: 40px;
    background-image: linear-gradient(to left, #d9b900ed , #c0a403ed); 
    height: 7.5rem;
    padding: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

h3::after {
    content: url('../../../assets/icons/arrow.svg');
}

.current-subscription {
    color: white;
    background-image: linear-gradient(to left, #d9b900ed , #c0a403ed); 
    height: 7.5rem;
    padding: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}