.logo {
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}